name: Test Sonarqube Composer S3 and wordpress

on:
  workflow_dispatch:
  push:
    branches:
      - '**'
env:
  FOLDER: "dist"
  foldersCache: "vendor/"

jobs:

  test-sonarqube:
    name: Test SonarQube Scan
    uses: ./.github/workflows/test-reusable-sonarqube.yml
    secrets: 
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  test-composer:
    name: Test Composer Install
    runs-on: ${{ (github.event_name == 'push' && github.ref == 'refs/heads/pro' ||
                  github.event_name == 'pull_request' && github.event.pull_request.base.ref == 'pro')
                  && vars.AWS_RG_NAME_PRO || vars.AWS_RG_NAME_NONPRO }}
    steps:
      - name: Checkout code
        uses:  actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 #v6.0.1
        with:
            fetch-depth: 0   
    
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '5.3'
          extensions: mbstring, intl, xml, curl, zip, json
          tools: composer:v1
    
      - name: Get cache
        env:
          s3Path: aws s3 cp --quiet s3://aplazameshared-jenkins-cache/Aplazame-Backend/woocommerce/v1-dependencies-${{ github.sha }}.tar.gz
        run: |
         load-config
         export AWS_PROFILE=AplazameSharedServices
         set -e
         aws s3 cp --quiet ${s3Path} cache.tar.gz || exit 0
         [ -f cache.tar.gz ] && tar -xf cache.tar.gz
         aws s3 cp --quiet aws s3 cp --quiet s3://aplazameshared-jenkins-cache/Aplazame-Backend/woocommerce/v1-dependencies-${{ github.sha }}.tar.gz cache.tar.gz

      - name: Composer Install
        run: composer install --prefer-dist

      - name: Cache Composer dependencies
        env:
          foldersStr: '.'
          s3Path: aws s3 cp --quiet s3://aplazameshared-jenkins-cache/Aplazame-Backend/woocommerce/v1-dependencies-${{ github.sha }}.tar.gz
        run: |
         load-config
         export AWS_PROFILE=AplazameSharedServices
         set -e
         MATCHES=$(aws s3 ls ${s3Path} | wc -l)
         [ "$MATCHES" = "0" ] && [ ! -f cache.tar.gz ] && tar -czf cache.tar.gz ${foldersStr} && aws s3 cp --quiet cache.tar.gz ${s3Path}
         exit 0

      - name: Check syntax
        run: make syntax.checker

      - name: Make Styleci happy
        run: make style
      
      - name: Create Bundle
        run: make zip

      - name: Deply to S3
        env:
            s3Path: aws s3 cp --acl public-read aplazame.latest.zip s3://aplazame/modules/woocommerce/
        run: |
         load-config
         export AWS_PROFILE=AplazameSharedServices
         set -e
         aws s3 cp --acl public-read aplazame.latest.zip s3://aplazame/modules/woocommerce/

      - name: Deploy to Wordpress site
        env:
            WP_URL: ${{ vars.WORDPRESS_URL }}
            WP_ADMIN_USER: ${{ secrets.WORDPRESS_ADMIN_USER }}
            WP_ADMIN_PASSWORD: ${{ secrets.WORDPRESS_ADMIN_PASSWORD }}
        run: |
         echo "***************Clone wordpress repository***************"
         svn co https://plugins.svn.wordpress.org/aplazame svn
          
         echo "****************Sync assets******************************"
         rsync -r -p --delete assets/ svn/assets
         svn add --force svn/assets
          
         echo "****************Sync trunk******************************"
         rsync -r -p --delete plugin/ svn/trunk
         svn add --force svn/trunk
          
         echo "****************Delete unused files******************************"
         for i in $(svn status svn | grep ! | awk '{print $2}'); do svn delete $i; done
          
         echo "****************Tag Release******************************"
         export APP_VERSION="$(cat APP_VERSION.tmp)"
         echo $APP_VERSION
         svn cp svn/trunk svn/tags/$APP_VERSION
          
         echo "****************Commit to Wordpress******************************"
         export APP_VERSION="$(cat APP_VERSION.tmp)"
         echo $APP_VERSION
         svn ci --no-auth-cache --username ${WORDPRESS_USERNAME} --password ${WORDPRESS_PASSWORD} svn -m "tagging version $APP_VERSION"

#prueba